body {
    background-color: rgb(20, 18, 18);
}

p {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: papayawhip;
    font-family: "Courier";
    font-size: 30px;
}

a.start {
    display: flex;
    justify-content: center;
    padding-top: 350px;
    color: papayawhip;
    font-family: "Courier";
    font-size: 30px;
}

a.lang {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    color: papayawhip;
    font-family: "Courier";
    font-size: 25px;
}

a:hover {
    color: cornflowerblue;
}