body {
    background-color: rgb(20, 18, 18);
}

p {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: papayawhip;
    font-family: "Courier";
    font-size: 30px;
}

a.start {
    display: flex;
    justify-content: center;
    padding-top: 350px;
    color: papayawhip;
    font-family: "Courier";
    font-size: 30px;
}

a.lang {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    color: papayawhip;
    font-family: "Courier";
    font-size: 25px;
}

a:hover {
    color: cornflowerblue;
}

.screen {
    opacity: 0;
}

@media screen and (max-width: 1000px) {
    .screen {
        opacity: 1;
        z-index: 100;
        position: fixed;
        padding-top: 40vw;
        padding-left: 9vw;
        padding-bottom: 20vw;
        font-size: 4vw;
        color: papayawhip;
        font-family: 'Courier';
        background-color: rgb(20, 18, 18);
    }
    p,
    a { 
        visibility: none;
        display: none;
    }
}
