/* Language stuff */
html[lang="ko"] [lang="en"] {
    display: none !important;
}
html[lang="ko"] [lang="ko"] {
display: inline;
}
html[lang="en"] [lang="en"] {
display: inline;
}
html[lang="en"] [lang="ko"] {
display: none !important;
}
[missing][lang] {
color: red;
}

/* 0-0 STYLES */

* {
    background-color: rgb(20, 18, 18);
}

body.zero {
    min-height: 1300px;
    max-width: 100%;
    overflow-x: hidden;
}

body.one {
    min-height: 1900px;
    max-width: 100%;
    overflow-x: hidden;
}

body.five {
    animation: disablescroll 37s;
}

@keyframes disablescroll {
    0% { overflow: hidden;}
    100% { overflow: scroll;}
}

/* --------Sound--------- */
audio {
    /* fix audio timing */
    width: 0px;
    bottom: 0; 
    position: fixed; 
    left: 0;
}


/* ---------Story---------- */
#typewriter.zero {
    z-index: 3;
    padding-top: 180px;
    padding-left: 10vw;
}

#typewriter.one {
    z-index: 1;
    padding-top: 70px;
    padding-left: 10vw;
}

.pause {
    color: rgb(20, 18, 18);
}

.shift {
    color: rgb(236, 49, 49);
    font-weight: bold;
}


/* -------SCROLL------- */
.scroll {
    background-color: transparent;
    color: papayawhip;
    font-family: 'Courier';
    animation: fadein 13s, float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-one {
    background-color: transparent;
    color: papayawhip;
    font-family: 'Courier';
    animation: fadein 6s ease-in, float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-two {
    background-color: transparent;
    color: papayawhip;
    font-family: 'Courier';
    animation: fadein 11s ease-in, float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-two {
    background-color: transparent;
    color: papayawhip;
    font-family: 'Courier';
    animation: fadein 11s ease-in, float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* -------Images--------- */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#sleep1 {
    z-index: 2;
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
    animation: fadein 1s ease-in;
}

#sleep2 {
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
    animation: flash 4s infinite, fadein 1s ease-in;
}

#sleep1-2 {
    z-index: 2;
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
    animation: fadein 2s ease-in;
}

#sleep2-2 {
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
    animation: flash 4s infinite, fadein 2s ease-in;
}

#sleep3 {
    z-index: 2;
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 850px;
    background-color: transparent;
    animation: fadein 4s ease-in;
}

#sleep4 {
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 850px;
    background-color: transparent;
    animation: flash 4s infinite, fadein 4s ease-in;
}

@keyframes flash {
    0% { z-index: 1; 
        opacity: 0;}
    50% { z-index: 3;
        opacity: 1; }
    100% { z-index: 1;
        opacity: 0; }
}

#lightning {
    z-index: 2;
    position: absolute;
    width: 2500px;
    margin: 0;
    padding: 0;
    animation: fade 4s infinite;
}

@keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 0;}
    30% { opacity: 1; }
    45% { opacity: 0; }
    100% { opacity: 0; }
}

#chompy-one {
    z-index: 3;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 650px;
    background-color: transparent;
    animation: fadein 5s cubic-bezier(0.23, 0.0, 1, 1);
}

#chompy-two {
    z-index: 2;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 650px;
    background-color: transparent;
    animation: fadein 1s ease-in;
}

#chompykey {
    z-index: 2;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
    animation: fadein 5s ease-in;
}

#gross,
#key,
#keyturn {
    z-index: 2;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
}

#chompybelly {
    z-index: 2;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 700px;
    background-color: transparent;
}

#doorway,
#door {
    animation: fadein 10s ease-in;
}

#falling {
    z-index: 5;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 0px;
    background-color: transparent;
    animation: fadein 11s ease-in;
}
#doorway {
    z-index: 6;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 1100px;
    background-color: transparent;
}
#door {
    z-index: 4;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 1100px;
    background-color: transparent;
}

#purple {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 3700px;
    background-color: transparent;
}
#purple1 {
    z-index: 6;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 3700px;
    background-color: transparent;
}#purple2 {
    z-index: 8;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 3700px;
    background-color: transparent;
}#purple3 {
    z-index: 7;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 3700px;
    background-color: transparent;
}
#blue {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 7600px;
    background-color: transparent;
}
#green {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 10900px;
    background-color: transparent;
}
#yellow {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 14400px;
    background-color: transparent;
}
#orange {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 18300px;
    background-color: transparent;
}
#red {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 21600px;
    background-color: transparent;
}




/* --------Choices-------- */
.choices-zero {
    padding-top: 300px;
    padding-left: 23vw;
    position: absolute;
    animation: fadein 14s ease-in;
}

.choices-one- {
    padding-top: 1000px;
    padding-left: 23vw;
    position: absolute;
    animation: fadein 10s ease-in;
}

.choices-one {
    padding-top: 400px;
    padding-left: 23vw;
    position: absolute;
    animation: fadein 8s ease-in;
}

.choices-two {
    padding-top: 1100px;
    padding-left: 23vw;
    position: absolute;
    animation: fadein 9s ease-in;
}

.choices-three {
    padding-top: 300px;
    padding-left: 23vw;
    position: absolute;
    animation: fadein 10s ease-in;
}

.choices-four {
    z-index: 3;
    position: relative;
    font-size: 25px;
    padding-left: 35vw;
    padding-top: 10300px;
    position: absolute;
    background-color: transparent;
}

#descend {
    z-index: 3;
    position: relative;
    color: papayawhip;
    font-family: "Courier";
    font-size: 25px;
    padding-left: 18vw;
    padding-top: 9800px;
    position: absolute;
    background-color: transparent;
}
#rebelend {
    z-index: 3;
    position: relative;
    color: papayawhip;
    font-family: "Courier";
    font-size: 25px;
    padding-left: 1vw;
    padding-top: 600px;
    position: absolute;
    background-color: transparent;
}

p {
    padding-bottom: 30px;
}

a {
    z-index: 3;
    position: relative;
    color: papayawhip;
    font-family: "Courier";
    font-size: 25px;
}

a:hover {
    color: rgb(231, 94, 94);
}