/* Language stuff */
html[lang="ko"] [lang="en"] {
    display: none !important;
}
html[lang="ko"] [lang="ko"] {
display: inline;
}
html[lang="en"] [lang="en"] {
display: inline;
}
html[lang="en"] [lang="ko"] {
display: none !important;
}
[missing][lang] {
color: red;
}

/* 0-0 STYLES */

* {
    background-color: rgb(20, 18, 18);
}

body.zero {
    min-height: 1300px;
    max-width: 100%;
    overflow-x: hidden;
}

body.one {
    min-height: 1900px;
    max-width: 100%;
    overflow-x: hidden;
}

body.five {
    max-height: 200px;
    animation: disablescroll 37s;
}

body.five:after {
    overflow: scroll;
    overflow-x: hidden;
}

@keyframes disablescroll {
    0% { overflow: hidden;}
    100% { overflow: scroll;
        overflow-x: hidden;}
}

/* --------Sound--------- */
audio {
    /* fix audio timing */
    width: 0px;
    bottom: 0; 
    position: fixed; 
    left: 0;
}


/* ---------Story---------- */
.letters {
    display: flex;
    text-align: center;
    background-color: transparent;
}

#typewriter.zero {
    z-index: 3;
    padding-top: 180px;
    padding-left: 10vw;
}

#typewriter.one {
    z-index: 1;
    padding-top: 70px;
    padding-left: 10vw;
}

#typewriter.five {
    font-size: 2vw;
    z-index: 10;
    padding-top: 70px;
    padding-left: 10vw;
    padding-right: 10vw;
    display: inline-block;
    text-align: left;
    background-color: transparent;
}

#typewriter.six {
    font-size: 2vw;
    z-index: 10;
    padding-top: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
    display: inline-block;
    text-align: left;
    background-color: transparent;
}

.pause {
    color: rgb(20, 18, 18);
}

.shift {
    color: rgb(236, 49, 49);
    font-weight: bold;
}


/* -------SCROLL------- */
.scroll {
    background-color: transparent;
    color: papayawhip;
    font-family: 'Courier';
    animation: fadein 13s, float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-one {
    background-color: transparent;
    color: papayawhip;
    font-family: 'Courier';
    animation: fadein 6s ease-in, float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-two {
    background-color: transparent;
    color: papayawhip;
    font-family: 'Courier';
    animation: fadein 11s ease-in, float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-two {
    background-color: transparent;
    color: papayawhip;
    font-family: 'Courier';
    animation: fadein 11s ease-in, float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-five {
    background-color: transparent;
    color: papayawhip;
    font-family: 'Courier';
    animation: fadein 12s, float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-six {
    background-color: transparent;
    color: papayawhip;
    font-family: 'Courier';
    animation: fadein 7s ease-in, float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* -------Images--------- */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#sleep1 {
    z-index: 2;
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
    animation: fadein 1s ease-in;
}

#sleep2 {
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
    animation: flash 4s infinite, fadein 1s ease-in;
}

#sleep1-2 {
    z-index: 2;
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
    animation: fadein 2s ease-in;
}

#sleep2-2 {
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
    animation: flash 4s infinite, fadein 2s ease-in;
}

#sleep3 {
    z-index: 2;
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 850px;
    background-color: transparent;
    animation: fadein 4s ease-in;
}

#sleep4 {
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 850px;
    background-color: transparent;
    animation: flash 4s infinite, fadein 4s ease-in;
}

@keyframes flash {
    0% { z-index: 1; 
        opacity: 0;}
    50% { z-index: 3;
        opacity: 1; }
    100% { z-index: 1;
        opacity: 0; }
}

#lightning {
    z-index: 2;
    position: absolute;
    width: 2500px;
    margin: 0;
    padding: 0;
    animation: fade 4s infinite;
}

@keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 0;}
    30% { opacity: 1; }
    45% { opacity: 0; }
    100% { opacity: 0; }
}

#chompy-one {
    z-index: 3;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 650px;
    background-color: transparent;
    animation: fadein 5s cubic-bezier(0.23, 0.0, 1, 1);
}

#chompy-two {
    z-index: 2;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 650px;
    background-color: transparent;
    animation: fadein 1s ease-in;
}

#chompykey {
    z-index: 2;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
    animation: fadein 5s ease-in;
}

#gross,
#key,
#keyturn,
#blankie {
    z-index: 2;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
}

#bedfall {
    position: absolute;
    width: 100vw;
    margin: 0;
    padding-top: 80vw;
    background-color: transparent;
    animation: fadein 6s;
}

#sleepypats {
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 700px;
    background-color: transparent;
    animation: fadein 8s ease-in;
}

#goodnight {
    position: absolute;
    width: 1200px;
    margin: 0;
    padding-top: 1000px;
    background-color: transparent;
    animation: fadein 3s ease-in;
}

#chompybelly {
    z-index: 2;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 700px;
    background-color: transparent;
}

#doorway,
#door {
    animation: fadein 10s ease-in;
}

#falling {
    z-index: 5;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 0px;
    background-color: transparent;
    animation: fadein 18s ease-in;
}
#falling2 {
    z-index: 4;
    position: absolute;
    width: 1000px;
    margin: 0;
    padding-top: 0px;
    background-color: transparent;
    animation: fadein 11s ease-in;
}
#doorway {
    z-index: 6;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 110vw;
    background-color: transparent;
}
#door {
    z-index: 3;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 110vw;
    background-color: transparent;
}


#purple {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 300vw;
    background-color: transparent;
}
#purple1 {
    z-index: 6;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 300vw;
    background-color: transparent;
}
#purple2 {
    z-index: 8;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 170vw;
    background-color: transparent;
    animation: fadein 12s ease-in;
}
#purple3 {
    z-index: 7;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 380vw;
    background-color: transparent;
}


#blue {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 500vw;
    background-color: transparent;
}
#blue1 {
    z-index: 6;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 480vw;
    background-color: transparent;
}
#blue2 {
    z-index: 8;
    position: absolute;
    width: 80%;
    margin: 0;
    padding-top: 160vw;
    background-color: transparent;
    animation: fadein 13s ease-in;
}
#blue3 {
    z-index: 7;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 560vw;
    background-color: transparent;
}
#blue4 {
    z-index: 3;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 570vw;
    background-color: transparent;
}


#green {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 700vw;
    background-color: transparent;
}
#green1 {
    z-index: 7;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 160vw;
    background-color: transparent;
    animation: fadein 13s ease-in;
}
#green2 {
    z-index: 8;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 790vw;
    background-color: transparent;
}
#green3 {
    z-index: 8;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 240vw;
    background-color: transparent;
    animation: fadein 13s ease-in;
}


#yellow {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 900vw;
    background-color: transparent;
}
#yellow1 {
    z-index: 3;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 950vw;
    background-color: transparent;
}
#yellow2 {
    z-index: 8;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 950vw;
    background-color: transparent;
}
#yellow3 {
    z-index: 7;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 550vw;
    background-color: transparent;
}
#yellow4 {
    z-index: 7;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 550vw;
    background-color: transparent;
}
#yellow5 {
    z-index: 7;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 700vw;
    background-color: transparent;
}


#orange {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 1160vw;
    background-color: transparent;
}

#red {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 1400vw;
    background-color: transparent;
}




/* --------Choices-------- */
.choices-zero {
    padding-top: 1100px;
    padding-left: 23vw;
    position: absolute;
    background-color: transparent;
    /* animation: fadein 14s ease-in; */
}

.choices-one- {
    padding-top: 1300px;
    padding-left: 23vw;
    position: absolute;
    background-color: transparent;
    /* animation: fadein 10s ease-in; */
}

.choices-one {
    padding-top: 1300px;
    padding-left: 23vw;
    position: absolute;
    background-color: transparent;
    /* animation: fadein 8s ease-in; */
}

.choices-two {
    padding-top: 1100px;
    padding-left: 23vw;
    position: absolute;
    background-color: transparent;
    /* animation: fadein 9s ease-in; */
}

.choices-three {
    padding-top: 1200px;
    padding-left: 23vw;
    position: absolute;
    background-color: transparent;
    /* animation: fadein 10s ease-in; */
}

.choices-four {
    z-index: 3;
    position: relative;
    font-size: 25px;
    padding-left: 30vw;
    padding-top: 690vw;
    position: absolute;
    background-color: transparent;
}

.choices-six {
    font-size: 2vw;
    padding-left: 23vw;
    padding-top: 120vw;
    position: absolute;
    background-color: transparent;
    /* animation: fadein 8s ease-in; */
}

#descend {
    z-index: 3;
    position: relative;
    color: papayawhip;
    font-family: "Courier";
    font-size: 2vw;
    padding-top: 650vw;
    position: absolute;
    background-color: transparent;
}

#rebelend {
    position: absolute;
    color: papayawhip;
    font-family: "Courier";
    font-size: 25px;
    font-size: 2vw;
    z-index: 10;
    padding-top: 75vw;
    padding-left: 10vw;
    padding-right: 10vw;
    display: inline-block;
    text-align: left;
    background-color: transparent;
    animation: fadein 7s ease-in;
}

p {
    padding-bottom: 30px;
}

a {
    z-index: 3;
    position: relative;
    color: papayawhip;
    font-family: "Courier";
    font-size: 25px;
}

a:hover {
    color: rgb(231, 94, 94);
}